body {
  font-family: "Roboto",
    sans-serif;
  text-align: center;
  color: white;
}
.btn-warning {
  color: white;
  font-weight: bold;
  width: 90px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: -40px;
}
.btn-primary {
  color: white;
  font-weight: bold;
  background-color: #89b2ec;
  width: 90px;
  margin-top: 10px;
  border-color: #89b2ec;
  margin-left: -10px;
}
strong,
.wheater-units {
  color: #ffc436;
}
input {
  margin-top: 10px;
  max-width: 5500px;
}
h1 {
  color: #ffc436;
  font-weight: bold;
  font-size: 70px;
}

h2 {
  font-size: 70px;
}

h2,
h4 {
  display: inline;
}

.city-time-wheater {
  text-align: left;
}

.city-temperature-icon {
  margin-top: 60px;
  font-size: 60px;
  margin-right: -100px;
  display: flex;
}

.city-main-icon {
  margin-top: 60px;
  margin-right: 100px;
  width: 88px;
  height: 88px;
}
a {
  color: #ffc436;
}

.max {
  font-weight: 10000;
  font-size: 20px;
  color: #f3e7c9;
}
.time {
  margin-bottom: 20px;
}

.degree {
  font-size: 20px;
  margin-top: 3px;
  padding: 0px;
}
.container {
  text-align: center;
  max-width: 780px;
  display: block;
  margin-top: 60px;
  text-align: center;
  background-color: #337ccf;
  background: linear-gradient(
    #337ccf,
    #9198e5
  );
}
.col-3 {
  display: block;
  margin: 0 auto;
}
.container-days {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  margin-right: -50px;
  padding-top: 30px;
}

.card {
  margin-bottom: 20px;
  background-color: #89b2ec;
  border-color: white;
  max-width: 200px;
}
.card-title {
  font-weight: bold;
  color: white;
}

.card-text {
  color: white;
}
h2 {
  font-weight: bold;
}

.card-subtitle {
  font-size: 30px;
}
